<h1><%= t('admin.answer.question') %></h1>

<p>
<%= @answer.question.body %>
<p>

<p>
<b><%= t('admin.answer.answer') %>: </b>
<%= @answer.text %>
</p>

<p>
<b><%= t('admin.answer.correct') %> :</b>
<%= @answer.correct %>
</p>

<%= link_to t('common.back'), admin_question_path(@answer.question) %>
