<h1><%= @question.test.title %></h1>

<p><%= @question.body %></p>

<h2><%= t('admin.question.answers') %></h2>
<%= link_to t('admin.question.new_answer'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('common.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('common.delete'), admin_question_path(@question), :method => :delete %> |
<%= link_to t('common.back'), admin_test_path(@question.test) %>
