<h1><%= t(".header") %></h1>
<p class="lead">
<%= link_to t('admin.tests.new_test'), new_admin_test_path %>
</p>
<p>
<%= link_to 'Tests list', root_path %>
</p>
<p>
<%= link_to 'Gists list', admin_gists_path %>
</p>
<div>
  <%= render 'shared/errors', resource: @test %>
</div>
<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      <%= t('common.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t('common.level') %></th>
    <th><%= t('common.questions') %></th>
    <th colspan="4"><%= t('common.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
