<h1><%= t(".header") %></h1>
<p class="lead">
<%= link_to t('admin.tests.new_test'), new_admin_test_path %>
</p>
<p>
<%= link_to 'Tests list', root_path %>
</p>
<p>
<%= link_to 'Gists list', admin_gists_path %>
</p>
<table class="table">
  <tr>
    <th><%= t('common.title') %></th>
    <th><%= t('common.level') %></th>
    <th><%= t('common.questions') %></th>
    <th colspan="4"><%= t('common.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
