<p>
<strong>Title:</strong>
<%= @test.title %>
</p>

<p>
<strong>Level:</strong>
<%= @test.level %>
</p>
<p>
Questions
<%= render @test.questions %>
</p>
<%= link_to 'Back', tests_path %>
<%= link_to 'Edit', edit_test_path(@test) %>
