<footer class="footer">
  <div class="container">
    <div class="float-left">
      <small>
        <%= t('footer.credentials') %> <%= link_to 'Thinknetica project', "http://thinknetica.com/", target: :_blank %>
      </small>
      <nav>
        <ul>
          <li><%= current_year %></li>
          <li> Rom <%= github_link('drougojrom', 'test-guru') %></li></li>
          <li> <%= link_to 'Contact us', contacts_path %>
        </ul>
      </nav>
    </div>
  </div>
</footer>
